.container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    list-style: none;
}

.container ul li {
    padding: 16px;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    position: relative;
}

.container ul li button {
    background: #FFF;
    position: absolute;
    top: 16px;
    right: 16px;
    border: 0;
}

.container ul li button + button {
    background: #FFF;
    position: absolute;
    top: 48px;
    right: 16px;
    border: 0;
}

.container ul li button:hover {
    opacity: 0.8;
}

.container ul li strong {
    display: block;
    margin-bottom: 8px;
    color: #41414d;
}

.container ul li p {
    margin-bottom: 8px;
    color: #737380;
}

@media screen and (max-width: 768px) {
    .container ul {
        grid-template-columns: 1fr;
    }
}